PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/localVendor?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=https://nearbuy01.netlify.app,https://69c793579d079e39da023d38--nearbuy01.netlify.app
ADMIN_NAME=Near Buy Admin
ADMIN_EMAIL=admin@umang.com
ADMIN_PASSWORD=Admin@123
SELLER_NAME=Near Buy Seller
SELLER_EMAIL=seller@nearbuy.com
SELLER_PASSWORD=Seller@123
