PORT=5000
MONGO_URI=mongodb+srv://subham:Shubham@!12@cluster0.keatig7.mongodb.net/?appName=Cluster0
JWT_SECRET=nearbuy_J7mQ9xL2pR8vT4kN6sW1zH5cB3yF_secure_2026
CLIENT_URL=https://nearbuy01.netlify.app
